# -------------------------------------------------------------------------------
# Copyright (C) 2012 Trenz Electronic
# Permission is hereby granted, free of charge, to any person obtaining a
# copy of this software and associated documentation files (the  Software ),
# to deal in the Software without restriction, including without limitation
# the rights to use, copy, modify, merge, publish, distribute, sublicense,
# and/or sell copies of the Software, and to permit persons to whom the
# Software is furnished to do so, subject to the following conditions:
# The above copyright notice and this permission notice shall be included
# in all copies or substantial portions of the Software.
# THE SOFTWARE IS PROVIDED  AS IS , WITHOUT WARRANTY OF ANY KIND, EXPRESS
# OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
# FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
# AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
# LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
# FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS
# IN THE SOFTWARE.
# -------------------------------------------------------------------------------
# Reference AXI project for GigaBee TE0600 boards.
# Project is under MIT license. All contributions should mit MIT license.
# -------------------------------------------------------------------------------
#FPGA size specific constraints
#PLL placement
#necesarry for LX100 and LX150 devices
INST "clock_generator_0/clock_generator_0/PLL0_INST/Using_PLL_ADV.PLL_ADV_inst" LOC = "PLL_ADV_X0Y2";
#necesarry for LX45 devices
#INST "clock_generator_0/clock_generator_0/PLL0_INST/Using_PLL_ADV.PLL_ADV_inst" LOC = "PLL_ADV_X0Y1";

#
# pin constraints
#
NET CLK LOC=AA12 | IOSTANDARD = LVCMOS15;
NET DIP_Switches_4Bits_TRI_I[0] LOC = U19 |  IOSTANDARD = LVCMOS15; #AV0
NET DIP_Switches_4Bits_TRI_I[1] LOC = V20 |  IOSTANDARD = LVCMOS15; #AV1
NET DIP_Switches_4Bits_TRI_I[2] LOC = M17 |  IOSTANDARD = LVCMOS15; #AV2
NET DIP_Switches_4Bits_TRI_I[3] LOC = M18 |  IOSTANDARD = LVCMOS15; #AV3
NET Ethernet_Lite_COL LOC = R13;
NET Ethernet_Lite_CRS LOC = T14;
NET Ethernet_Lite_MDC LOC = AA2;
NET Ethernet_Lite_MDIO LOC = AB3;
NET Ethernet_Lite_PHY_RST_N LOC = T15  |  TIG;
NET Ethernet_Lite_RXD[0] LOC = Y3;
NET Ethernet_Lite_RXD[1] LOC = W8;
NET Ethernet_Lite_RXD[2] LOC = W4;
NET Ethernet_Lite_RXD[3] LOC = U9;
NET Ethernet_Lite_RX_CLK LOC = Y11;
NET Ethernet_Lite_RX_DV LOC = Y4;
NET Ethernet_Lite_RX_ER LOC = Y8;
NET Ethernet_Lite_TXD[0] LOC = AA18;
NET Ethernet_Lite_TXD[1] LOC = AB14;
NET Ethernet_Lite_TXD[2] LOC = AA16;
NET Ethernet_Lite_TXD[3] LOC = W14;
NET Ethernet_Lite_TX_CLK LOC = W12;
NET Ethernet_Lite_TX_EN LOC = AB16;
NET LEDs_4Bits_TRI_O[0] LOC = T20  |  IOSTANDARD = LVCMOS33; #on board
NET LEDs_4Bits_TRI_O[1] LOC = H8  |  IOSTANDARD = LVCMOS15;
NET LEDs_4Bits_TRI_O[2] LOC = J7  |  IOSTANDARD = LVCMOS15;
NET LEDs_4Bits_TRI_O[3] LOC = T4  |  IOSTANDARD = LVCMOS15;
NET Push_Buttons_4Bits_TRI_I[0] LOC = P17 |  IOSTANDARD = LVCMOS15; #BR0
NET Push_Buttons_4Bits_TRI_I[1] LOC = N16  |  IOSTANDARD = LVCMOS15; #BR1
NET Push_Buttons_4Bits_TRI_I[2] LOC = P18  |  IOSTANDARD = LVCMOS15; #BR2
NET Push_Buttons_4Bits_TRI_I[3] LOC = R19  |  IOSTANDARD = LVCMOS15; #BR3
NET RESET LOC = W22  |  IOSTANDARD = "LVCMOS15"  |  TIG | PULLDOWN; #dummy
NET RS232_Uart_1_sin LOC=C17 | PULLUP  |  IOSTANDARD = LVCMOS33;
NET RS232_Uart_1_sout LOC = A17  |  IOSTANDARD = LVCMOS33;
#
# additional constraints
#
#fix according to ds787_axi_ethernetlite.pdf page 33
NET "phy_rx_clk" PERIOD = 40 ns HIGH 14 ns;
NET "phy_tx_clk" PERIOD = 40 ns HIGH 14 ns;
OFFSET = OUT 10 ns AFTER "phy_tx_clk" ;
OFFSET = IN 6 ns BEFORE "phy_rx_clk" ;
NET "phy_rx_data<3>" IOBDELAY = NONE;
NET "phy_rx_data<2>" IOBDELAY = NONE;
NET "phy_rx_data<1>" IOBDELAY = NONE;
NET "phy_rx_data<0>" IOBDELAY = NONE;
NET "phy_dv" IOBDELAY = NONE;
NET "phy_rx_er" IOBDELAY = NONE;
NET "phy_crs" IOBDELAY = NONE;
NET "phy_col" IOBDELAY = NONE;
NET "phy_tx_clk" MAXSKEW = 6.0 ns;
NET "phy_rx_clk" MAXSKEW = 6.0 ns;

NET "CLK" TNM_NET = sys_clk_pin;
TIMESPEC TS_sys_clk_pin = PERIOD sys_clk_pin 125000 kHz;

