#-------------------------------------------------------------------------------
#Copyright (C) 2012 Trenz Electronic
#
#Permission is hereby granted, free of charge, to any person obtaining a 
#copy of this software and associated documentation files (the "Software"), 
#to deal in the Software without restriction, including without limitation 
#the rights to use, copy, modify, merge, publish, distribute, sublicense, 
#and/or sell copies of the Software, and to permit persons to whom the 
#Software is furnished to do so, subject to the following conditions:
#
#The above copyright notice and this permission notice shall be included 
#in all copies or substantial portions of the Software.
#
#THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS 
#OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, 
#FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE 
#AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER 
#LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING 
#FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS 
#IN THE SOFTWARE.
#-------------------------------------------------------------------------------
# NOTE: IOSTANDARD specified for default VCCIO values

NET CLK 						LOC=AA12 	|	IOSTANDARD = LVCMOS15;
NET DIP_Switches_4Bits_TRI_I[0] LOC = U19	|	IOSTANDARD = LVCMOS15; #AV0
NET DIP_Switches_4Bits_TRI_I[1] LOC = V20	|	IOSTANDARD = LVCMOS15; #AV1
NET DIP_Switches_4Bits_TRI_I[2] LOC = M17	|	IOSTANDARD = LVCMOS15; #AV2
NET DIP_Switches_4Bits_TRI_I[3] LOC = M18	|	IOSTANDARD = LVCMOS15; #AV3
NET ETHERNET_MDC				LOC = AA2	|	IOSTANDARD = LVCMOS33;
NET ETHERNET_MDIO				LOC = AB3	|	IOSTANDARD = LVCMOS33;
NET ETHERNET_MII_TX_CLK 		LOC = W12	|	IOSTANDARD = LVCMOS33;
NET ETHERNET_PHY_RST_N			LOC = T15	|	IOSTANDARD = LVCMOS33  |  TIG;
NET ETHERNET_RXD[0] LOC = Y3	|  IOSTANDARD = LVCMOS33;
NET ETHERNET_RXD[1] LOC = W8	|  IOSTANDARD = LVCMOS33;
NET ETHERNET_RXD[2] LOC = W4	|  IOSTANDARD = LVCMOS33;
NET ETHERNET_RXD[3] LOC = U9	|  IOSTANDARD = LVCMOS33;
NET ETHERNET_RXD[4] LOC = V7	|  IOSTANDARD = LVCMOS33;
NET ETHERNET_RXD[5] LOC = V5	|  IOSTANDARD = LVCMOS33;
NET ETHERNET_RXD[6] LOC = W9	|  IOSTANDARD = LVCMOS33;
NET ETHERNET_RXD[7] LOC = U6	|  IOSTANDARD = LVCMOS33;
NET ETHERNET_RX_CLK LOC = Y11	|  IOSTANDARD = LVCMOS33;
NET ETHERNET_RX_DV	LOC = Y4	|  IOSTANDARD = LVCMOS33;
NET ETHERNET_RX_ER	LOC = Y8	|  IOSTANDARD = LVCMOS33;
NET ETHERNET_TXD[0] LOC = AA18  |  IOSTANDARD = LVCMOS33;
NET ETHERNET_TXD[1] LOC = AB14  |  IOSTANDARD = LVCMOS33;
NET ETHERNET_TXD[2] LOC = AA16  |  IOSTANDARD = LVCMOS33;
NET ETHERNET_TXD[3] LOC = W14   |  IOSTANDARD = LVCMOS33;
NET ETHERNET_TXD[4] LOC = T16   |  IOSTANDARD = LVCMOS33;
NET ETHERNET_TXD[5] LOC = Y14   |  IOSTANDARD = LVCMOS33;
NET ETHERNET_TXD[6] LOC = V15   |  IOSTANDARD = LVCMOS33;
NET ETHERNET_TXD[7] LOC = AA14  |  IOSTANDARD = LVCMOS33;
NET ETHERNET_TX_CLK LOC = R11	|  IOSTANDARD = LVCMOS33;
NET ETHERNET_TX_EN	LOC = AB16  |  IOSTANDARD = LVCMOS33;
NET ETHERNET_TX_ER	LOC = AB18  |  IOSTANDARD = LVCMOS33;
NET LEDs_4Bits_TRI_O[0] LOC = T20	|  IOSTANDARD = LVCMOS33; # On board
NET LEDs_4Bits_TRI_O[1] LOC = H8	|  IOSTANDARD = LVCMOS15; # B2B J2:33 B2B_B3_L59_N
NET LEDs_4Bits_TRI_O[2] LOC = J7	|  IOSTANDARD = LVCMOS15; # B2B J2:31 B2B_B3_L59_P
NET LEDs_4Bits_TRI_O[3]	LOC = T4	|  IOSTANDARD = LVCMOS15; # B2B J2:23 B2B_B3_L9_P
NET LEDs_4Bits_TRI_O[4] LOC = T3	|  IOSTANDARD = LVCMOS15; # B2B J2:21 B2B_B3_L9_N
NET Push_Buttons_4Bits_TRI_I[0]	LOC = P17	|  IOSTANDARD = LVCMOS15; #BR0
NET Push_Buttons_4Bits_TRI_I[1] LOC = N16	|  IOSTANDARD = LVCMOS15; #BR1
NET Push_Buttons_4Bits_TRI_I[2] LOC = P18	|  IOSTANDARD = LVCMOS15; #BR2
NET Push_Buttons_4Bits_TRI_I[3] LOC = R19	|  IOSTANDARD = LVCMOS15; #BR3
NET RESET 				LOC = W22	|  IOSTANDARD = LVCMOS15	|  TIG | PULLDOWN; #dummy
NET RS232_Uart_1_sin	LOC = C17	|  IOSTANDARD = LVCMOS33	| PULLUP;
NET RS232_Uart_1_sout	LOC = A17	|  IOSTANDARD = LVCMOS33;
#-------------------------------------------------------------------------------
# J1 B2B Connector
#-------------------------------------------------------------------------------
NET B2B_B2_L57_N	LOC = AB4	|  IOSTANDARD = LVCMOS33; # B2B J1:31
NET B2B_B2_L57_P	LOC = AA4	|  IOSTANDARD = LVCMOS33; # B2B J1:33
NET B2B_B2_L49_N	LOC = AB6	|  IOSTANDARD = LVCMOS33; # B2B J1:35
NET B2B_B2_L49_P	LOC = AA6	|  IOSTANDARD = LVCMOS33; # B2B J1:37
NET B2B_B2_L48_N	LOC = AB7	|  IOSTANDARD = LVCMOS33; # B2B J1:45
NET B2B_B2_L48_P	LOC = Y7	|  IOSTANDARD = LVCMOS33; # B2B J1:47
NET B2B_B2_L45_N	LOC = AB8	|  IOSTANDARD = LVCMOS33; # B2B J1:49
NET B2B_B2_L45_P	LOC = AA8	|  IOSTANDARD = LVCMOS33; # B2B J1:51
NET B2B_B2_L43_N	LOC = AB9	|  IOSTANDARD = LVCMOS33; # B2B J1:55
NET B2B_B2_L43_P	LOC = Y9	|  IOSTANDARD = LVCMOS33; # B2B J1:57
NET B2B_B2_L41_N	LOC = AB10	|  IOSTANDARD = LVCMOS33; # B2B J1:59
NET B2B_B2_L41_P	LOC = AA10	|  IOSTANDARD = LVCMOS33; # B2B J1:61
NET B2B_B2_L21_P	LOC = Y15	|  IOSTANDARD = LVCMOS33; # B2B J1:65
NET B2B_B2_L21_N	LOC = AB15	|  IOSTANDARD = LVCMOS33; # B2B J1:67
NET B2B_B2_L15_P	LOC = Y17	|  IOSTANDARD = LVCMOS33; # B2B J1:69
NET B2B_B2_L15_N	LOC = AB17	|  IOSTANDARD = LVCMOS33; # B2B J1:71
NET B2B_B2_L31_N	LOC = AB12	|  IOSTANDARD = LVCMOS33; # B2B J1:75
NET CSO_B 			LOC = T5	|  IOSTANDARD = LVCMOS33; # B2B J1:87
NET CCLK 			LOC = Y21	|  IOSTANDARD = LVCMOS33; # B2B J1:91
NET MISO 			LOC = AA20	|  IOSTANDARD = LVCMOS33; # B2B J1:93
NET MOSI 			LOC = AB20	|  IOSTANDARD = LVCMOS33; # B2B J1:95
NET MISO3 			LOC = U13	|  IOSTANDARD = LVCMOS33; # B2B J1:97
NET MISO2 			LOC = U14	|  IOSTANDARD = LVCMOS33; # B2B J1:99
NET B2B_B2_L60_P 	LOC = T7	|  IOSTANDARD = LVCMOS33; # B2B J1:36
NET B2B_B2_L60_N 	LOC = R7	|  IOSTANDARD = LVCMOS33; # B2B J1:38
NET B2B_B2_L44_N 	LOC = Y10	|  IOSTANDARD = LVCMOS33; # B2B J1:46
NET B2B_B2_L44_P 	LOC = W10	|  IOSTANDARD = LVCMOS33; # B2B J1:48
NET B2B_B2_L18_P 	LOC = V13	|  IOSTANDARD = LVCMOS33; # B2B J1:56
NET B2B_B2_L18_N	LOC = W13	|  IOSTANDARD = LVCMOS33; # B2B J1:58
NET B2B_B2_L8_N 	LOC = U16	|  IOSTANDARD = LVCMOS33; # B2B J1:60
NET B2B_B2_L8_P 	LOC = U17	|  IOSTANDARD = LVCMOS33; # B2B J1:62
NET B2B_B2_L11_P 	LOC = V17	|  IOSTANDARD = LVCMOS33; # B2B J1:66
NET B2B_B2_L11_N 	LOC = W17	|  IOSTANDARD = LVCMOS33; # B2B J1:68
NET B2B_B2_L6_P 	LOC = W18	|  IOSTANDARD = LVCMOS33; # B2B J1:70
NET B2B_B2_L6_N 	LOC = Y18	|  IOSTANDARD = LVCMOS33; # B2B J1:72
NET B2B_B2_L5_P 	LOC = Y19	|  IOSTANDARD = LVCMOS33; # B2B J1:76
NET B2B_B2_L5_N 	LOC = AB19	|  IOSTANDARD = LVCMOS33; # B2B J1:78
NET B2B_B2_L4_N 	LOC = T17	|  IOSTANDARD = LVCMOS33; # B2B J1:86
NET B2B_B2_L4_P 	LOC = T18	|  IOSTANDARD = LVCMOS33; # B2B J1:88
NET B2B_B2_L10_N 	LOC = R15	|  IOSTANDARD = LVCMOS33; # B2B J1:94
NET B2B_B2_L10_P 	LOC = R16	|  IOSTANDARD = LVCMOS33; # B2B J1:96
NET B2B_B2_L59_N 	LOC = R8	|  IOSTANDARD = LVCMOS33; # B2B J1:40
NET B2B_B2_L59_P 	LOC = R9	|  IOSTANDARD = LVCMOS33; # B2B J1:42
NET B2B_B2_L9_N 	LOC = V18	|  IOSTANDARD = LVCMOS33; # B2B J1:80
NET B2B_B2_L9_P 	LOC = V19	|  IOSTANDARD = LVCMOS33; # B2B J1:82
#-------------------------------------------------------------------------------
# TE0603 MicroSD socket
# use as IOs
NET B2B_B2_L42_N	LOC = W11	|  IOSTANDARD = LVCMOS33; # B2B J1:50 | MICROSD_DAT2
NET B2B_B2_L42_P 	LOC = V11	|  IOSTANDARD = LVCMOS33; # B2B J1:52 | MICROSD_DAT3
NET B2B_B2_L32_N	LOC = AB11	|  IOSTANDARD = LVCMOS33; # B2B J1:32 | MICROSD_CMD
NET B2B_B2_L29_N 	LOC = Y12	|  IOSTANDARD = LVCMOS33; # B2B J1:92 | MICROSD_CLK
NET B2B_B2_L2_P 	LOC = AA21	|  IOSTANDARD = LVCMOS33; # B2B J1:100 | MICROSD_DAT0
NET B2B_B2_L2_N 	LOC = AB21	|  IOSTANDARD = LVCMOS33; # B2B J1:98 | MICROSD_DAT1
# or as MicroSD
#NET MICROSD_DAT[2]	LOC = W11	|  IOSTANDARD = LVCMOS33; # B2B J1:50 | B2B_B2_L42_N
#NET MICROSD_DAT[3] LOC = V11	|  IOSTANDARD = LVCMOS33; # B2B J1:52 | B2B_B2_L42_P
#NET MICROSD_CMD	LOC = AB11	|  IOSTANDARD = LVCMOS33; # B2B J1:32 | B2B_B2_L32_N
#NET MICROSD_CLK 	LOC = Y12	|  IOSTANDARD = LVCMOS33; # B2B J1:92 | B2B_B2_L29_N
#NET MICROSD_DAT[0] LOC = AA21	|  IOSTANDARD = LVCMOS33; # B2B J1:100 | B2B_B2_L2_P
#NET MICROSD_DAT[1] LOC = AB21	|  IOSTANDARD = LVCMOS33; # B2B J1:98 | B2B_B2_L2_N
#-------------------------------------------------------------------------------

#-------------------------------------------------------------------------------
# J2 B2B Connector
#-------------------------------------------------------------------------------
NET B2B_B3_L60_N 	LOC = B1	|  IOSTANDARD = LVCMOS15; # B2B J2:15
NET B2B_B3_L60_P 	LOC = B2	|  IOSTANDARD = LVCMOS15; # B2B J2:17
NET B2B_B0_L3_P	 	LOC = D6	|  IOSTANDARD = LVCMOS33; # B2B J2:25
NET B2B_B0_L3_N	 	LOC = C6	|  IOSTANDARD = LVCMOS33; # B2B J2:27
NET B2B_B0_L32_P 	LOC = D7	|  IOSTANDARD = LVCMOS33; # B2B J2:35
NET B2B_B0_L32_N 	LOC = D8	|  IOSTANDARD = LVCMOS33; # B2B J2:37
NET B2B_B0_L7_N	 	LOC = C8	|  IOSTANDARD = LVCMOS33; # B2B J2:41
NET B2B_B0_L7_P	 	LOC = D9	|  IOSTANDARD = LVCMOS33; # B2B J2:43
NET B2B_B0_L33_N 	LOC = C10	|  IOSTANDARD = LVCMOS33; # B2B J2:45
NET B2B_B0_L33_P 	LOC = D10	|  IOSTANDARD = LVCMOS33; # B2B J2:47
NET B2B_B0_L36_P 	LOC = D11	|  IOSTANDARD = LVCMOS33; # B2B J2:51
NET B2B_B0_L36_N 	LOC = C12	|  IOSTANDARD = LVCMOS33; # B2B J2:53
NET B2B_B0_L49_P 	LOC = D14	|  IOSTANDARD = LVCMOS33; # B2B J2:55
NET B2B_B0_L49_N 	LOC = C14	|  IOSTANDARD = LVCMOS33; # B2B J2:57
NET B2B_B0_L62_P 	LOC = D15	|  IOSTANDARD = LVCMOS33; # B2B J2:61
NET B2B_B0_L62_N 	LOC = C16	|  IOSTANDARD = LVCMOS33; # B2B J2:63
NET B2B_B0_L66_P 	LOC = E16	|  IOSTANDARD = LVCMOS33; # B2B J2:65
NET B2B_B0_L66_N 	LOC = D17	|  IOSTANDARD = LVCMOS33; # B2B J2:67
NET B2B_B1_L10_P 	LOC = F16	|  IOSTANDARD = LVCMOS15; # B2B J2:71
NET B2B_B1_L10_N 	LOC = F17	|  IOSTANDARD = LVCMOS15; # B2B J2:73
NET B2B_B1_L21_N 	LOC = J16	|  IOSTANDARD = LVCMOS15; # B2B J2:81
NET B2B_B1_L21_P 	LOC = K16	|  IOSTANDARD = LVCMOS15; # B2B J2:83
NET B2B_B1_L61_P 	LOC = L17	|  IOSTANDARD = LVCMOS15; # B2B J2:85
NET B2B_B1_L61_N 	LOC = K18	|  IOSTANDARD = LVCMOS15; # B2B J2:87
NET B2B_B0_L1 		LOC = A4	|  IOSTANDARD = LVCMOS33; # B2B J2:14
NET B2B_B0_L2_P 	LOC = C5	|  IOSTANDARD = LVCMOS33; # B2B J2:22
NET B2B_B0_L2_N 	LOC = A5	|  IOSTANDARD = LVCMOS33; # B2B J2:24
NET B2B_B0_L4_N 	LOC = A6	|  IOSTANDARD = LVCMOS33; # B2B J2:26
NET B2B_B0_L4_P 	LOC = B6	|  IOSTANDARD = LVCMOS33; # B2B J2:28
NET B2B_B0_L5_N 	LOC = A7	|  IOSTANDARD = LVCMOS33; # B2B J2:32
NET B2B_B0_L5_P 	LOC = C7	|  IOSTANDARD = LVCMOS33; # B2B J2:34
NET B2B_B0_L6_N 	LOC = A8	|  IOSTANDARD = LVCMOS33; # B2B J2:36
NET B2B_B0_L6_P 	LOC = B8	|  IOSTANDARD = LVCMOS33; # B2B J2:38
NET B2B_B0_L8_N 	LOC = A9	|  IOSTANDARD = LVCMOS33; # B2B J2:42
NET B2B_B0_L8_P 	LOC = C9	|  IOSTANDARD = LVCMOS33; # B2B J2:44
NET B2B_B0_L34_N 	LOC = A10	|  IOSTANDARD = LVCMOS33; # B2B J2:46
NET B2B_B0_L34_P 	LOC = B10	|  IOSTANDARD = LVCMOS33; # B2B J2:48
NET B2B_B0_L35_N 	LOC = A11	|  IOSTANDARD = LVCMOS33; # B2B J2:52
NET B2B_B0_L35_P 	LOC = C11	|  IOSTANDARD = LVCMOS33; # B2B J2:54
NET B2B_B0_L37_N 	LOC = A12	|  IOSTANDARD = LVCMOS33; # B2B J2:56
NET B2B_B0_L37_P 	LOC = B12	|  IOSTANDARD = LVCMOS33; # B2B J2:58
NET B2B_B0_L38_N 	LOC = A13	|  IOSTANDARD = LVCMOS33; # B2B J2:62
NET B2B_B0_L38_P 	LOC = C13	|  IOSTANDARD = LVCMOS33; # B2B J2:64
NET B2B_B0_L50_N 	LOC = A14	|  IOSTANDARD = LVCMOS33; # B2B J2:66
NET B2B_B0_L50_P 	LOC = B14	|  IOSTANDARD = LVCMOS33; # B2B J2:68
NET B2B_B0_L51_N 	LOC = A15	|  IOSTANDARD = LVCMOS33; # B2B J2:72
NET B2B_B0_L51_P 	LOC = C15	|  IOSTANDARD = LVCMOS33; # B2B J2:74
NET B2B_B0_L63_N 	LOC = A16	|  IOSTANDARD = LVCMOS33; # B2B J2:76
NET B2B_B0_L63_P 	LOC = B16	|  IOSTANDARD = LVCMOS33; # B2B J2:78
NET B2B_B0_L64_N 	LOC = A17	|  IOSTANDARD = LVCMOS33; # B2B J2:82
NET B2B_B0_L64_P 	LOC = C17	|  IOSTANDARD = LVCMOS33; # B2B J2:84
NET B2B_B0_L65_N 	LOC = A18	|  IOSTANDARD = LVCMOS33; # B2B J2:86
NET B2B_B0_L65_P 	LOC = B18	|  IOSTANDARD = LVCMOS33; # B2B J2:88
NET B2B_B1_L20_P 	LOC = A20	|  IOSTANDARD = LVCMOS15; # B2B J2:92
NET B2B_B1_L20_N 	LOC = A21	|  IOSTANDARD = LVCMOS15; # B2B J2:94
NET B2B_B1_L19_P 	LOC = B21	|  IOSTANDARD = LVCMOS15; # B2B J2:96
NET B2B_B1_L19_N 	LOC = B22	|  IOSTANDARD = LVCMOS15; # B2B J2:98
NET B2B_B1_L59 		LOC = P19	|  IOSTANDARD = LVCMOS15; # B2B J2:100
NET B2B_B1_L9_P 	LOC = G16	|  IOSTANDARD = LVCMOS15; # B2B J2:75
NET B2B_B1_L9_N 	LOC = G17	|  IOSTANDARD = LVCMOS15; # B2B J2:77
#-------------------------------------------------------------------------------
# TE0603 LEDs
# use as IOs
#NET B2B_B3_L59_P 	LOC = J7	|  IOSTANDARD = LVCMOS15; # B2B J2:31
#NET B2B_B3_L59_N 	LOC = H8	|  IOSTANDARD = LVCMOS15; # B2B J2:33
#NET B2B_B3_L9_N 	LOC = T3	|  IOSTANDARD = LVCMOS15; # B2B J2:21
#NET B2B_B3_L9_P 	LOC = T4	|  IOSTANDARD = LVCMOS15; # B2B J2:23
#-------------------------------------------------------------------------------
